<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Cart</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Shopping for Cookies</h1>


    <strong>Items in cart:</strong>
    <ul>
      <!-- List the names of the items in your cart here -->
    </ul>

    <ul>
      <% products.forEach(function(product) { %>
        <li class="product">
          <form action="/cart" method="post">
            <h5><%= product.name %></h5>
            <img src="<%= product.image %>" class="cookie-pic" />
            <p><%= product.description %></p>
            <input type="hidden" name="id" value="<%= product.id %>">
            <input type="submit" value="Add to Cart" class="add-to-cart noselect">
          </form>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
